.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;

    display: flex;
    justify-content:space-evenly
}

.logo {
  max-height: 40px; /* limite stricte */
  width: auto;
  object-fit: contain;
  display: block;
  user-select: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

@media (max-width: 640px) {
  .logo {
    max-height: 30px;
  }
}
